In [384]:
import numpy as np
import pandas as pd

In [385]:
df = pd.read_csv('AgeDataset-V1.csv', sep=',', header=None)

/var/folders/lv/mfc1plcn5qn4_j552kntwkf80000gn/T/ipykernel_43207/2845674233.py:1: DtypeWarning: Columns (6,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AgeDataset-V1.csv', sep=',', header=None)

In [386]:
# Preprocessing Data

# Dropping the first 3 columns which has  ID, name, and description
newDataFrame = df.drop(columns=df.iloc[:,0:3])
# Updating the column to have names rather than number
newDataFrame.columns = newDataFrame.iloc[0]

newDataFrame.head()

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791,NaN,35

In [387]:
# Removing the row that has column names
newDataFrame = newDataFrame.drop(index=0)

In [388]:
# Updated 
newDataFrame.head()

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791,NaN,35
5,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827,NaN,57

In [389]:
# Only keep Male/Female as gender for simplicity. 
# Remove all rows that don't have Male/Female

newDataFrame["Gender"].unique()

array(['Male', 'Female', nan, 'Transgender Female', 'Intersex',
       'Transgender Person; Intersex; Transgender Male', 'Non-Binary',
       'Eunuch; Male', 'Transgender Male', 'Eunuch', 'Intersex; Male',
       'Transgender Female; Female', 'Transgender Female; Male',
       'Female; Male', 'Intersex; Transgender Male',
       'Transgender Male; Female', 'Transgender Male; Male',
       'Intersex; Female', 'Transgender Female; Intersex',
       'Female; Female', 'Non-Binary; Intersex'], dtype=object)

In [390]:
newDataFrame = newDataFrame.loc[newDataFrame["Gender"].isin(['Male', 'Female'])]

In [391]:
#Countries will be split into a single value.
newDataFrame['Country'] = newDataFrame['Country'].str.split(';').str[0]

In [392]:
newDataFrame.head()

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria,Artist,1756,1791,NaN,35
5,Male,Holy Roman Empire,Artist,1770,1827,NaN,57

In [393]:
newDataFrame['Manner of death']
newDataFrame["Manner of death"] = newDataFrame["Manner of death"].replace([np.nan], "Unknown Cause")
newDataFrame

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria,Artist,1756,1791,Unknown Cause,35
5,Male,Holy Roman Empire,Artist,1770,1827,Unknown Cause,57
...,...,...,...,...,...,...,...
1222998,Male,NaN,Physician,1903,1991,Unknown Cause,88
1222999,Male,NaN,NaN,1891,1929,Unknown Cause,38
1223001,Male,Switzerland,Entrepreneur,1857,1924,Unknown Cause,67
1223008,Male,United Kingdom,Artist,1887,1915,Unknown Cause,28
1223009,Male,Germany,Artist,1938,2017,Unknown Cause,79

In [394]:
newDataFrame["Country"] = newDataFrame["Country"].replace([np.nan],"Alien")
newDataFrame

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria,Artist,1756,1791,Unknown Cause,35
5,Male,Holy Roman Empire,Artist,1770,1827,Unknown Cause,57
...,...,...,...,...,...,...,...
1222998,Male,Alien,Physician,1903,1991,Unknown Cause,88
1222999,Male,Alien,NaN,1891,1929,Unknown Cause,38
1223001,Male,Switzerland,Entrepreneur,1857,1924,Unknown Cause,67
1223008,Male,United Kingdom,Artist,1887,1915,Unknown Cause,28
1223009,Male,Germany,Artist,1938,2017,Unknown Cause,79

In [395]:
newDataFrame["Occupation"] = newDataFrame["Occupation"].replace([np.nan], "Unemployed")

In [396]:
newDataFrame["Manner of death"] = newDataFrame["Manner of death"].str.split(";").str[-1].str.strip()

In [397]:
newDataFrame

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria,Artist,1756,1791,Unknown Cause,35
5,Male,Holy Roman Empire,Artist,1770,1827,Unknown Cause,57
...,...,...,...,...,...,...,...
1222998,Male,Alien,Physician,1903,1991,Unknown Cause,88
1222999,Male,Alien,Unemployed,1891,1929,Unknown Cause,38
1223001,Male,Switzerland,Entrepreneur,1857,1924,Unknown Cause,67
1223008,Male,United Kingdom,Artist,1887,1915,Unknown Cause,28
1223009,Male,Germany,Artist,1938,2017,Unknown Cause,79

In [398]:
newDataFrame = newDataFrame.drop('Death year', axis=1)
newDataFrame

,Gender,Country,Occupation,Birth year,Manner of death,Age of death
1,Male,United States of America,Politician,1732,natural causes,67
2,Male,United Kingdom,Artist,1952,natural causes,49
3,Male,United States of America,Politician,1809,homicide,56
4,Male,Archduchy of Austria,Artist,1756,Unknown Cause,35
5,Male,Holy Roman Empire,Artist,1770,Unknown Cause,57
...,...,...,...,...,...,...
1222998,Male,Alien,Physician,1903,Unknown Cause,88
1222999,Male,Alien,Unemployed,1891,Unknown Cause,38
1223001,Male,Switzerland,Entrepreneur,1857,Unknown Cause,67
1223008,Male,United Kingdom,Artist,1887,Unknown Cause,28
1223009,Male,Germany,Artist,1938,Unknown Cause,79

In [399]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

newDataFrame["Encoded_Country"] = label_encoder.fit_transform(newDataFrame['Country'])

In [400]:
newEncodedDF = newDataFrame.drop("Country", axis=1)

In [401]:
newEncodedDF["Encoded_Occupation"] = label_encoder.fit_transform(newEncodedDF["Occupation"])
newEncodedDF

,Gender,Occupation,Birth year,Manner of death,Age of death,Encoded_Country,Encoded_Occupation
1,Male,Politician,1732,natural causes,67,999,6526
2,Male,Artist,1952,natural causes,49,993,513
3,Male,Politician,1809,homicide,56,999,6526
4,Male,Artist,1756,Unknown Cause,35,29,513
5,Male,Artist,1770,Unknown Cause,57,429,513
...,...,...,...,...,...,...,...
1222998,Male,Physician,1903,Unknown Cause,88,11,6237
1222999,Male,Unemployed,1891,Unknown Cause,38,11,8601
1223001,Male,Entrepreneur,1857,Unknown Cause,67,937,2746
1223008,Male,Artist,1887,Unknown Cause,28,993,513
1223009,Male,Artist,1938,Unknown Cause,79,373,513

In [402]:
newEncodedDF = newEncodedDF.drop("Occupation", axis=1)

In [403]:
newEncodedDF["Encoded_Manner of death"] = label_encoder.fit_transform(newEncodedDF["Manner of death"])

In [404]:
newEncodedDF = newEncodedDF.drop("Manner of death", axis=1)

In [405]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder()

In [406]:
onehot_encoded_gender = onehot_encoder.fit_transform(newEncodedDF[["Gender"]])
onehot_encoded_gender_df = pd.DataFrame(onehot_encoded_gender.toarray(), columns=onehot_encoder.get_feature_names_out(['Gender']))
newEncodedDF = pd.concat([newEncodedDF, onehot_encoded_gender_df], axis=1)

In [407]:
newEncodedDF = newEncodedDF.drop("Gender",axis=1)

In [408]:
newEncodedDF

,Birth year,Age of death,Encoded_Country,Encoded_Occupation,Encoded_Manner of death,Gender_Female,Gender_Male
1,1732,67,999.0,6526.0,108.0,0.0,1.0
2,1952,49,993.0,513.0,108.0,0.0,1.0
3,1809,56,999.0,6526.0,87.0,0.0,1.0
4,1756,35,29.0,513.0,25.0,0.0,1.0
5,1770,57,429.0,513.0,25.0,0.0,1.0
...,...,...,...,...,...,...,...
1089148,NaN,NaN,NaN,NaN,NaN,0.0,1.0
1089169,NaN,NaN,NaN,NaN,NaN,1.0,0.0
1089170,NaN,NaN,NaN,NaN,NaN,0.0,1.0
1089183,NaN,NaN,NaN,NaN,NaN,0.0,1.0
1089191,NaN,NaN,NaN,NaN,NaN,0.0,1.0

In [409]:
newEncodedDF = newEncodedDF.dropna(subset=['Birth year'])
newEncodedDF = newEncodedDF.dropna(subset=['Age of death'])
newEncodedDF = newEncodedDF.dropna(subset=['Gender_Female'])
newEncodedDF = newEncodedDF.dropna(subset=['Gender_Male'])

In [410]:
newEncodedDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 976455 entries, 1 to 1089194
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Birth year               976455 non-null  object
 1   Age of death             976455 non-null  object
 2   Encoded_Country          976455 non-null  float64
 3   Encoded_Occupation       976455 non-null  float64
 4   Encoded_Manner of death  976455 non-null  float64
 5   Gender_Female            976455 non-null  float64
 6   Gender_Male              976455 non-null  float64
dtypes: float64(5), object(2)
memory usage: 59.6+ MB

In [427]:
newEncodedDF.head()

,Birth year,Age of death,Encoded_Country,Encoded_Occupation,Encoded_Manner of death,Gender_Female,Gender_Male
1,1732,67,999.0,6526.0,108.0,0.0,1.0
2,1952,49,993.0,513.0,108.0,0.0,1.0
3,1809,56,999.0,6526.0,87.0,0.0,1.0
4,1756,35,29.0,513.0,25.0,0.0,1.0
5,1770,57,429.0,513.0,25.0,0.0,1.0

newEncodedDF

In [417]:
# Linear Regression 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Setting the target variable, age of death
targetY = newEncodedDF["Age of death"] 

# Features
featureX = newEncodedDF.drop(['Age of death','Encoded_Manner of death'], axis=1)

# Training Data
X_train, X_test, y_train, y_test = train_test_split(featureX, targetY, test_size=0.2, random_state=2)

In [419]:
# Model 
linearRegressionModel = LinearRegression()

# Testing X and Y
linearRegressionModel.fit(X_train,y_train)

LinearRegression()

In [422]:
# Predicting with test data
predictY = linearRegressionModel.predict(X_test)

In [423]:
# Evalute the model now
mse = mean_squared_error(y_test, predictY)
print("Mean Squared Error:", mse)

Mean Squared Error: 263.5227190133958

In [424]:
r_squared = linearRegressionModel.score(X_train, y_train)

# Convert R-squared to percentage
accuracy = r_squared * 100

print("Accuracy:", accuracy)

Accuracy: 3.0802247102358904

In [426]:
# Assuming 'linearRegressionModel' is your trained linear regression model

# Prepare input data for prediction (replace these values with your custom instance)
custom_data = {
    'Birth year': [1980],
    'Encoded_Country': [123],
    'Encoded_Occupation': [456],
    'Gender_Female': [0],
    'Gender_Male': [1]
}
custom_df = pd.DataFrame(custom_data)

# Use the trained model to predict the age of death for the custom instance
predicted_age_of_death = linearRegressionModel.predict(custom_df)

print("Predicted Age of Death:", predicted_age_of_death)

Predicted Age of Death: [71.15262375]

In [430]:
import seaborn as sns
import matplotlib.pyplot as plt

correlation_matrix = newEncodedDF.corr()

# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap')
plt.show()