In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('AgeDataset-V1.csv', sep=',', header=None)

/var/folders/bd/sbl18k4d4h514z7k4t21vbfw0000gn/T/ipykernel_44016/2845674233.py:1: DtypeWarning: Columns (6,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AgeDataset-V1.csv', sep=',', header=None)

In [3]:
# Preprocessing Data

# Dropping the first 3 columns which has  ID, name, and description
newDataFrame = df.drop(columns=df.iloc[:,0:3])
# Updating the column to have names rather than number
newDataFrame.columns = newDataFrame.iloc[0]

newDataFrame.head()

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791,NaN,35

In [4]:
# Removing the row that has column names
newDataFrame = newDataFrame.drop(index=0)

In [5]:
# Updated 
newDataFrame.head()

,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791,NaN,35
5,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827,NaN,57