In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('AgeDataset-V1.csv', sep=',', header=None)

/var/folders/bd/sbl18k4d4h514z7k4t21vbfw0000gn/T/ipykernel_40961/2845674233.py:1: DtypeWarning: Columns (6,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AgeDataset-V1.csv', sep=',', header=None)

In [17]:

df.head()

,0,1,2,3,4,5,6,7,8,9
0,Id,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799,natural causes,67
2,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Q91,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865,homicide,56
4,Q254,Wolfgang Amadeus Mozart,Austrian composer of the Classical period,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791,NaN,35

In [22]:
newDataFrame = df.drop(columns=df.iloc[:, :3])
newDataFrame.head()

,3,4,5,6,7,8,9
0,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
1,Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799,natural causes,67
2,Male,United Kingdom,Artist,1952,2001,natural causes,49
3,Male,United States of America,Politician,1809,1865,homicide,56
4,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791,NaN,35

In [43]:
newDataFrame.shape[0]-(newDataFrame.iloc[:, 0].value_counts()["Female"] + \
    newDataFrame.iloc[:, 0].value_counts()["Male"])

133815

In [51]:
newDataFrame = newDataFrame.loc[newDataFrame.iloc[:, 0].isin(
    ['Male', 'Female'])]
#Cleaned the gender part and made it general to only Male and female

In [59]:
newDataFrame.iloc[:,1].unique()

array(['United States of America; Kingdom of Great Britain',
       'United Kingdom', 'United States of America', ...,
       'Jordan; Transjordan',
       'El Salvador; Prussia; German Empire; North German Confederation',
       'Syria; State of Syria; Syrian Republic'], dtype=object)